.jajar {
	display: flex;
	flex-direction: row;
}

.kebawah {
	flex-direction: column;
}

.kotak {
	border:solid 2px 2px 2px black;
	margin:20px;
	width: 240px;
	height:240px;
	text-align: center;
	box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.klik:hover {
cursor: pointer;
background: linear-gradient(to right, rgba(255,255,255,0), rgba(150,150,255,0.5));
}

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 0px;
  padding: 10px 16px;
  width:100%;
  padding-right:20px;
}

.btn-lg {
  font-size: 18px;
  line-height: 1.33;
  border-radius: 0px;

}

.btn-primary {
  color: #fff;
  background-color: #428bca;
  border-color: #357ebd;
}
.btn-primary1 {
  color: white;
  background-color: orange;
  border-color: #357ebd;
}
.btn-primary2 {
  color: white;
  background-color: #34bc4a;
  border-color: #34bc4a;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #56a4e7;
  border-color: #285e8e;
}

sharp {
  border-radius:0;
}

.btn {
    padding: 14px 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}

.btn-primary {
    background: #0099cc;
    color: #ffffff;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    color: #ffffff;
	background: #33a6cc;
}
.btn-primary1:hover, .btn-primary1:focus, .btn-primary1:active, .btn-primary1.active, .open > .dropdown-toggle.btn-primary1 {
    color: #ffffff;
	background:#e8c437;
}
.btn-primary2:hover, .btn-primary2:focus, .btn-primary2:active, .btn-primary2.active, .open > .dropdown-toggle.btn-primary2 {
    color: #ffffff;
	background:#40e15a;
}
.btn-primary:active, .btn-primary.active {
    background: #4ac2eb;

}
tr:nth-child(even) {
  background-color: #f2f2f2;
}